@media(max-width:768px){


.dashboard,
.reports,
.announcement{

width:95%;

}



table{

font-size:12px;

overflow-x:auto;

display:block;

}



input,
textarea{

width:100%;

}



button{

width:100%;

}



.dashboard-table td,
.dashboard-table th{

padding:8px;

}



}